{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
    Home
{% endblock title %}

{% block body %}
    <div style="margin-bottom: 10px;">
        <a href="{% url 'feed:post' %}">Create new post &rarr;</a>
    </div>
    {% for post in posts %}
        <a href="{% url 'feed:detail' post.id %}" style="display: inline-block;">
            {{ post.text }} <br>
            {% thumbnail post.image "200x200" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
        </a>
        <hr>
    {% endfor %}
{% endblock body %}